<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Existe um compromisso se aproximando! Veja os detalhes abaixo. </p>
    <p>Banda: <%= @band_name %></p>
    <p>O que: <%= @compromise.title %></p>
    <p>Quando: <%= @compromise.datehour %></p>
    <p>Detalhes:</p>
    <i><%= @compromise.description %></i>
  </body>
</html>