<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @contact.user_name %>!</h1>
    <p>Nós agradecemos muito por sua vontade de melhor o GaragePlay! Faremos nosso melhor para atender sua necessidade.</p>
    <p>Abaixo segue sua solicitação:</p>
    <i><%= @contact.text %></i>
  </body>
</html>