<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Olá <b><%= @contact.user_name %>!</b> Estamos muito gratos pelo seu interesse em melhorar nosso aplicativo de qualquer forma que seja.</p>
    <p>Abaixo segue uma cópia da sua solicitação:</p>
    <i><%= @contact.text %></i>
    <p>Iremos responder em no máximo 48 horas, mais uma vez obrigado por acreditar e investir em seu sonho.</p>
  </body>
</html>